<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Index.css' %}">
</head>

<body>
    <main id="box">
        <!-- Seeker Section -->
        <section id="box1" class="user-section">
            <div id="seeker_img">
                {% for img in seeker_img %}
                    <img class="slide" src="{{img.index_seeker_img.url}}" alt="Img not found">
                {% endfor %}
            </div>
            <div class="overlay">
                <h2>Seeker</h2>
                <div class="actions">
                    <a href="{% url 'LoginSeeker' %}" class="btn">Login</a>
                    <a href="{% url 'RegisterSeeker' %}" class="btn">Register</a>
                </div>
            </div>
        </section>

        <!-- Scout Section -->
        <section id="box2" class="user-section">
            <div id="scout_img">
                {% for img in scout_img %}
                <img class="slide" src="{{ img.index_scout_img.url }}" alt="Img not found">
                {% endfor %}
            </div>
            <div class="overlay">
                <h2>Scout</h2>
                <div class="actions">
                    <a href="{% url 'LoginScout' %}" class="btn">Login</a>
                    <a href="{% url 'RegisterScout' %}" class="btn">Register</a>
                </div>
            </div>
        </section>
    </main>
    <script>
        const seeker_img = document.querySelectorAll('#seeker_img .slide');
        const scout_img = document.querySelectorAll('#scout_img .slide');

        let index_seeker = 0, index_scout = 0;

        function showImage() {
            seeker_img.forEach(img => img.classList.remove('active'));
            scout_img.forEach(img => img.classList.remove('active'));

            seeker_img[index_seeker].classList.add('active');
            scout_img[index_scout].classList.add('active');

            index_seeker = (index_seeker + 1) % seeker_img.length;
            index_scout = (index_scout + 1) % scout_img.length;
    }

    showImage();
    setInterval(showImage, 3500);
    </script>
</body>
</html>
