<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'LoginScout.css' %}">
</head>
<body>
    <div>
        <form action="">
            <label for="gmail">Gmail:</label>
            <input type="email" name="gmail" id="gmail">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Submit" onclick=" return(validation())">
        </form>
    </div>
    <script>
        function validation(){
            //Validation of gmail
            var gmail = document.getElementById("gmail").value;
            var slice1 = gmail.slice(-10);
            if (gmail == ""){
                alert("Please enter your Gmail");
                return false;
        }else if(slice1 != "@gmail.com"){
            alert("Please enter a valid Gmail");
            return false;
        }
        return true;
        }
    </script>
</body>
</html>