<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login and Sign Up</title>
  {% load static %}   
  <link rel="stylesheet" href="{% static 'RegisterScout.css' %}" />
</head>
<body>
  <div class="container" role="main">
    <section class="left-panel" aria-label="Create account panel">
      <h2>Create Account</h2>
      <form action="" method="post" onsubmit="return validation()">
        <input type="text" name="company_name" id="company_name" placeholder="Enter Your Company Name"/>
        <input type="email" name="gmail" id="gmail" placeholder="Enter Your Gmail"/>
        <input type="password" name="password" id="password" placeholder="Enter Your Password"/>
        <input type="number" name="number" id="number" placeholder="Enter Your Phone Number"/>
        <input type="text" name="address" id="address" placeholder="Enter Your Address"/>
        <input type="number" name="reg_no" id="reg_no" placeholder="Enter Your Bussness Regsistration Number"/>
        <button class="sign-up-btn" type="submit" aria-label="Sign up button">Regsister</button>
      </form>
    </section>
    <section class="right-panel" aria-label="Welcome and sign in panel">
      <div class="welcome-text">
        <h1>WELCOME Scout!</h1>
       
      </div>
    </section>
  </div>
  <script>
        function validation(){
            //Validation of Company Name
            var company_name = document.getElementById("company_name").value;
            if (company_name == ""){
                alert("Please enter your company name");
                return false;
            }
            //Validation of gmail
            var gmail = document.getElementById("gmail").value;
            var slice1 = gmail.slice(-10);
            if (gmail == ""){
                alert("Please enter your Gmail");
                return false;
            }else if(slice1 != "@gmail.com"){
                alert("Please enter a valid Gmail");
        }
        //Validation of phone number
            var phone_number = document.getElementById("phone_number").value;
            if (phone_number == ""){
                alert("Please enter your phone number");
                return false;
            }else if(phone_number.length >= 10){
                alert("Phone number must be 10 digits long");
                return false;
            }
            //Validation of address
            var address = document.getElementById("address").value;
            if (address == ""){
                alert("Please enter your address");
                return false;
            }
            //Validation of registration number
            var reg_no = document.getElementById("reg_no").value;
            if (reg_no == ""){
                alert("Please enter your business registration number");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
