<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'RegisterSeeker.css' %}">
</head>
<body>
    <div id="box">
        <form action="">
            <label for="name">Full Name:</label>
            <input type="text" name="full_name" id="full_name">
            <label for="gmail">Gamil:</label>
            <input type="email" name="gmail" id="gmail">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <label for="phone_no">Phone Number</label>
            <input type="number" name="phone_numbr" id="phone_number">
            <label for="address">Address:</label>
            <input type="text" name="address" id="address">
            <label for="reg_no">Citizenship Certificate Number:</label>
            <input type="text" name="cert_no" id="cert_no">
            <label for="DOF">Date Of Birth:</label>
            <input type="date" name="dof" id="dof">
            <button type="submit">Register</button>
        </form>
    </div>
    <script>
        function validation(){
            //Validation of Full Name
            var fullName = document.getElementById("full_name").value;
            if (fullName == ""){
                alert("Please enter your full name");
                return false;
            }
            var conformation = /^[A-Za-z]+$/;
            if (!conformation.test(fullName)){
                alert("Please enter a valid full name");
                return false;
            }
            //Validation of gmail
            var gmail = document.getElementById("gmail").value;
            var slice1 = gmail.slice(-10);
            if (gmail == ""){
                alert("Please enter your Gmail");
                return false;
            }else if(slice1 != "@gmail.com"){
                alert("Please enter a valid Gmail");
                return false;
            }
            //Validation of phone number
            var phone_number = document.getElementById("phone_number").value;
            if (phone_number == ""){
                alert("Please enter your phone number");
                return false;
            }else if(phone_number.length != 10){
                alert("Phone number must be 10 digits long");
                return false;
            }
            //Validation of address
            var address = document.getElementById("address").value;
            if (address == ""){
                alert("Please enter your address");
                return false;
            }
            //Validation of citizenship certificate number
            var cert_no = document.getElementById("cert_no").value;
            if (cert_no == ""){
                alert("Please enter your citizenship certificate number");
                return false;
            }
            //Validation of Date of Birth
            var dob = document.getElementById("dof").value;
            if (dob == ""){
                alert("Please enter your date of birth");
                return false;
            }
        }
    </script>
</body>
</html>